* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #1D976C;
  background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);
  background: linear-gradient(to bottom, #93F9B9, #1D976C);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
}

header img {
  position: absolute;
  top: 24px;
  transform: rotate(-25deg) translateX(-110px);
  width: 150px;
  transition: top 200ms ease-in-out;
}

header button {
  margin: 24px 24px 0 0;
}

header img:hover {
  top: 8px;
}

h1:hover + img {
  top: 8px;
}

h1 {
  margin-top: 72px;
  font-size: 72px;
}

h2 {
  margin-top: 24px;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 24px 400px;
}

input {
  display: block;
  height: 64px;
  width: 256px;
  font-size: 20px;
  border-radius: 24px;
  padding: 0 16px;
  margin: 6px 0 12px;
  border: 2px solid #1D976C;
}

input:focus {
  outline: 0;
  border: 2px solid #0f6748;
}

button {
  background-color: #1D976C;
  border: none;
  color: white;
  height: 64px;
  width: 256px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 24px;
  cursor: pointer;
  border: 1px solid #1D976C;
}

button:hover, button:focus {
  outline: 0;
  background-color: #0f6748;
}

label {
  position: relative;
}

label p {
  color: red;
  margin-bottom: 20px;
  display: none;
}

.error {
  display: block;
}

.geolocation {
  cursor: pointer;
  width: 32px;
  position: absolute;
  top: 40px;
  left: 208px;
}

.result-image {
  display: block;
  margin: 24px 0;
  width: 100px;
}

.loading-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid white;
  border-radius: 50%;
  animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  text-align: center;
  z-index: 2;
  color: white;
}

.loading-container > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 150px;
}

.loading {
  display: block;
}

.loading-text span {
  animation-name: loadingText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.loading-text span:nth-child(2) {
  animation-delay: .25s;
}

.loading-text span:nth-child(3) {
  animation-delay: .5s;
}

@keyframes loadingText {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

svg {
  border: 1px solid black;
}

footer {
  position: fixed;
  bottom: 0;
  height: 400px;
  width: 100%;
  background: #1D976C;
  text-align: center;
  color: white;
  padding: 32px;
}

h3 {
  font-size: 30px;
  margin-bottom: 0;
}

h4 {
  margin-top: 10px;
}

footer .avatar {
  width: 120px;
  margin: 0 auto;
}

footer .icon {
  width: 40px;
  margin: 10px;
}

.country-container {
  display: flex;
  flex-wrap: wrap;
}

.country-block {
  position: relative;
  text-align: center;
  margin: 25px 50px 25px 0;
  width: 280px;
  height: 240px;
  border-radius: 30px;
  background: #1D976C;
}

.country-block button {
  background: #0f6748;
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.country-block button:hover, .country-block button:focus {
  outline: 0;
  background-color: #0b4833;
}

.country-block h4 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.country-block img {
  height: 90px;
  width: 160px;
  object-fit: cover;
}