* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #CAF0F8;
}

header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  height: 300px;
}

header img {
  position: absolute;
  top: 24px;
  transform: rotate(-25deg) translateX(-110px);
  width: 150px;
  transition: top 200ms ease-in-out;
}

header img:hover {
  top: 8px;
}

h1:hover + img {
  top: 8px;
}

h1 {
  margin-top: 72px;
  font-size: 72px;
}

h2 {
  margin-top: 24px;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
}

input {
  display: block;
  height: 64px;
  width: 256px;
  font-size: 20px;
  border-radius: 24px;
  padding: 0 16px;
  margin: 6px 0 12px;
  border: 2px solid #03045E;
}

input:focus {
  outline: 0;
  border: 2px solid #010229;
}

button {
  background-color: #03045E;
  border: none;
  color: white;
  height: 64px;
  width: 256px;
  text-align: center;
  font-size: 16px;
  border-radius: 24px;
  cursor: pointer;
  border: 1px solid #03045E;
}

button:hover, button:focus {
  outline: 0;
  background-color: #010229;
}

label {
  position: relative;
}

.geolocation {
  cursor: pointer;
  width: 32px;
  position: absolute;
  top: 40px;
  left: 208px;
}

.result-image {
  margin-top: 24px;
  width: 100px;
}

.loading-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  text-align: center;
  z-index: 2;
}

.loading-container > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 150px;
}

.loading {
  display: block;
}

.loading-text span {
  animation-name: loadingText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.loading-text span:nth-child(2) {
  animation-delay: .25s;
}

.loading-text span:nth-child(3) {
  animation-delay: .5s;
}

@keyframes loadingText {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}